body {
  margin: 0;
  padding: 0;
  
  background-color: #09060d;
}

.main-background{
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.particles{
  height: 100vh;
}

.slide {
  min-width: 100vw;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 500vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.title {
  padding-top: 100px;
  animation: transitionIn 5s;
}

.portifolio {
  width: 100vw;
  padding-top: 100px;
}

.aboutus {
  width: 250vw;
}

.contact {
  padding-top: 100px;
}

.navbar {
  position: fixed;
  z-index: 2;
  
  animation: transitionIn 2s;
}

.groupbutton {
  position: fixed;
  left: 1%;
  top: 30%;
  z-index: 2;
  
  
  animation: transitionIn 3s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}